/.idea/
/**/node_modules/
/**/shared/
/**/.env
/**/database
/**/**/secret.yaml
/**/**/secrets.yaml
/**/**/.terraform/
/**/**/.terraform*
/**/**/terraform.tfstate*
/**/**/key.json
/**/**/private-key.json
